{
  "presets": ["@babel/preset-env", "@babel/react"],
  "plugins": [
    ["react-hot-loader/babel"],
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "~",
        "rootPathSuffix": "./src"
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    },
    "production": {
      "presets": [["@babel/preset-react", { "development": false }]]
    }
  }
}
