<!DOCTYPE html>
<html lang="ko" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta property="og:title" content="구본철 이력사항 | Resume Pon Cheol Ku " />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://resume.bbon.me" />
        <meta property="og:image" content="https://resume.bbon.me/images/me.png" />
        <meta
            property="og:description"
            content="안녕하세요. 구본철입니다. 저는 응용프로그램 개발자입니다. .NET | nodejs | react"
        />
        <meta property="og:site_name" content="구본철 이력사항 | Resume Pon Cheol Ku" />
        <title>구본철 이력서 | Pon Cheol Ku Resume</title>
        <link href="./favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <script>
            window.GAID = '<%= gaid %>';
        </script>
    </head>
    <body>
        <noscript>Please Enable JavaScript. This app needs Javascript to run this app.</noscript>
        <div id="app"></div>
    </body>
</html>
